<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se7entina.app">


    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
           android:name=".ui.activity.HelloActivity"
           android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AboutAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CreateInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FindKeyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.GuidePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InfoStudentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.InfoTeacherActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.LoginStudentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.MainUIActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MyMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.QuestionFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SelectActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.activity.ShareAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SystemNoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TeacherInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UpdateKeyActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
